{% extends 'admin/master.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 pb-3">
            <h3 class="title">{{pagTitle}}</h3>
            <hr>
        </div>
    </div>   
</div>  
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-3">
      <form action="/admin/customers" method="GET" class="d-flex">
        <input class="form-control me-2" name="search" type="search" placeholder="Pesquise..." aria-label="Search"/>
        <button type="submit" class="btn bg btn-dark px-4"><i class="fas fa-search">&nbsp;</i></button>
    </form>
    </div>
    <div class="col-3">
      <a href="/admin/customers/storeform">
        <button class="btn bg-gradient btn-dark"><i class="fas fa-user-plus"></i>&nbsp;Cadastrar Usuário</button>
      </a>
    </div>
    <div class="col-12 pt-3">
      <a href="/admin/customers" style="text-decoration: none;">
        <button type="button" style="text-decoration: none;" class="btn btn-link p-0 text-dark"><i class="fas fa-list"></i>&nbsp;Listar todos</button>
      </a>
    </div>
    {% if messages['message']['message']|message(messages['message']['alert']) %}
    <div class="col-12 pt-3">
        {{ messages['message']['message']|message(messages['message']['alert'])|raw }}
    </div>
    {% endif %}
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-bordered border-dark table-striped">
        <thead class="table-dark text-uppercase">
          <tr>
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers  %}
          <tr>
            <th scope="row">
              <a href="#">
                <button class="btn btn-secondary btn-sm text-light"><i class="fas fa-list-alt"></i></button>
              </a>
            </th>
            <td>{{customer.name}}</td>
            <td>{{customer.cpf}}</td>
            <td>{{customer.rg}}</td>
            <td>{{customer.birth_date}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.tel}}</td>
            <td>{{customer.email}}</td>
            <td>
              <form>
                <button data-title = "Você tem certeza?" data-text = "Todas ordens de serviços referentes serão apagadas!" 
                data-redirect = "/admin/customers" data-id="{{customer.id}}" type="submit" class="btn botao-deletar btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i></button>
              </form>
            </td>
            <td><a href="/admin/customers/updateform/{{ customer.id }}">
              <button class="btn btn-warning btn-sm"><i class="fas fa-user-edit"></i></button>
            </a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation">
        {{ links | raw }}
      </nav>
    </div>
  </div>
</div>



{% endblock %}


