{% extends 'admin/master.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 pb-3">
            <h2>Funcionários Cadastrados</h2>
            <hr>
        </div>
        <div class="col-6">
            {% for user in users %}

            <ul class="list-group mb-3">
                <li class="list-group-item text-light bg-dark list-group-item-action">
                    <div class="d-flex justify-content-between">
                        <div class="me-auto p-1">
                            <span>{{ user.id }}º</span>
                        </div>
                        <div class="p-1">
                            <a href="#">
                                <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt">&nbsp;</i>Excluir</button>
                            </a>
                        </div>
                        <div class="p-1">
                            <a href="#">
                                <button class="btn btn-warning btn-sm"><i class="fas fa-trash-alt">&nbsp;</i>Editar</button>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">Primeiro nome: {{ user.name }}</li>
                <li class="list-group-item list-group-item-action">Ultimo nome: {{ user.email }}</li>
                <li class="list-group-item list-group-item-action">Email: {{ user.cpf }}</li>
                <li class="list-group-item list-group-item-action">Cargo: {{ user.position }}</li>
                <li class="list-group-item list-group-item-action">Cargo: {{ user.password }}</li>
            </ul>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


