{% extends 'admin/master.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 pb-3">
            <h3 class="title">Usuários Cadastrados</h3>
            <hr>
        </div>
        {% if messages['message']['message'] %}
        <div class="col-12 pb-3">
            {{ messages['message']['message']|message(messages['message']['alert'])|raw }}
        </div>
        {% endif %}
         <div class="col-12 pb-3">
            <div>
                <nav class="navbar navbar-light bg-light">
                    <a href="/admin/users/storeform">
                        <button class="btn bg-gradient btn-dark"><i class="fas fa-user-plus"></i>&nbsp;Cadastrar Usuário</button>
                    </a>
                 </nav>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-between">
            <div class="col-6">
                {% for user in users %}
                   <table class="table table-bordered border-light shadow mb-3 bg-body table-striped">
                    <thead class="table-light text-uppercase">
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cpf</th>
                        <th scope="col">Cargo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.cpf}}</td>
                        <td>{{user.position}}</td>
                        <td>
                            <form>
                             <button data-title = "Você tem certeza?" data-text = "Este usuário não tera mais acesso ao sistema!" 
                             data-redirect = "/admin/users" data-id="{{user.id}}" type="submit" class="botao-deletar btn btn-danger btn-sm">
                             <i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                        <td>
                             <a href="/admin/users/updateform/{{ user.id }}">
                                    <button class="btn btn-warning btn-sm"><i class="fas fa-user-edit"></i></button>
                             </a>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
{% endblock %}


