<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>{{ title }}</title>
</head>
<body>

{% if logged_in %}
<div class="pb-5">
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container">
	    <a class="navbar-brand text-light" href="/admin/">OSPROMAKER</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
			  <li class="nav-item dropdown">
				  <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Relatório
				  </a>
				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="#">Relatório Geral</a></li>
					  <li><a class="dropdown-item" href="#">Imprimir Relatório</a></li>
					  <li><a class="dropdown-item" href="#">Exporta para Excel</a></li>
				  </ul>
			  </li>
	         <li class="nav-item dropdown">
	          <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Ordem de Serviços
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="#">Listar Ordens</a></li>
	            <li><a class="dropdown-item" href="#">Cadastrar Ordem de Serviço</a></li>
	          </ul>
	        </li>
			  <li class="nav-item dropdown">
				  <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Clientes
				  </a>
				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="#">Listar Clientes</a></li>
					  <li><a class="dropdown-item" href="#">Cadastrar Clientes</a></li>
				  </ul>
			  </li>
	         <li class="nav-item dropdown">
	          <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Usuários
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="/admin/users">Listar Usuários</a></li>
	            <li><a class="dropdown-item" href="/admin/users/storeform">Cadastrar Usuários</a></li>
	          </ul>
	        </li>
	      </div>
	    </div>

		  <div class="btn-group dropdown">
			  <button type="button" class="btn btn-light text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				  {% if logged_in %}
				  <i class="fas fa-id-card-alt"></i>&nbsp;Usuário Logado: {{ user.name }}
				  {% endif %}
			  </button>
			  <ul class="dropdown-menu">
				  <li><a class="dropdown-item" href="/logout">Deslogar</a></li>
			  </ul>
		  </div>
	  	</div>
		</div>
	  </div>
	</nav>
</div>

{% endif %}