{% extends 'admin/master.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 pb-3">
            <h3 class="title">Atualize o usuário</h3>

            {{ message['message'] }}

            <hr>
        </div>
        <div class="col-6">

            <form method="post" action="/admin/users/update">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                    <input type="text" name="name" class="form-control" placeholder="" aria-label="Name" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Email</span>
                    <input type="email" name="email" class="form-control" placeholder="" aria-label="Email" aria-describedby="basic-addon2">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">CPF</span>
                    <input type="text" name="CPF" class="form-control" placeholder="" aria-label="CPF" aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">Cargo</span>
                    <input type="text" name="position" class="form-control" placeholder="" aria-label="Position" aria-describedby="basic-addon4">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5">Password</span>
                    <input type="password" name="password" class="form-control" placeholder="" aria-label="Password" aria-describedby="basic-addon5">
                </div>

                <button type="submit" class="btn btn-success"> Atualizar </button>

            </form>

        </div>
    </div>
</div>
{% endblock %}


